*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Fira Code";
    background-color: #24272E;
    color: white;
}

header
{
    background: white;
    color: #25272E;
    text-align: center;
    padding: 20px;
}

.scoreboard
{
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    position: relative;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
}

.scoreboard .badge
{
    background: #E2484D;
    position: absolute;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.3);
}

.scoreboard #comp-label
{
    right: -19px;
    top: 50%;
    transform: translateY(-50%);
}

.scoreboard #user-label
{
    left: -19px;
    top: 50%;
    transform: translateY(-50%);
}

.result
{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.choices
{
    text-align: center;
    margin-top: 50px;
}

.choices .choice
{
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 20px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.green
{
    border: 5px solid #4DCC7D!important;
    box-shadow: 0 0 40px #31B43A;
}

.red
{
    border: 5px solid #FC121B!important;
    box-shadow: 0 0 40px #D01115;
}

.grey
{
    border: 5px solid #464647!important;
    box-shadow: 0 0 40px #25292B;
}

.choices .choice:hover
{
    transform: rotate(10deg);
}

.choices .choice:active
{
    transform: translateY(2px);
}
.choices .choice img
{
    width: 80px;
}

.action-message
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

sub
{
    font-size: 24px;
}